AplicacaoForm/Service References/ReservaReference/LocadoraVeiculosWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LocadoraVeiculosWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LocadoraVeiculosWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Reserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cli_Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Res_CodPlano" type="xs:int" />
      <xs:element minOccurs="0" name="Res_Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Res_DataReserva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Res_DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Res_Diarias" type="xs:int" />
      <xs:element minOccurs="0" name="Res_Horas" type="xs:int" />
      <xs:element minOccurs="0" name="Res_PcDesconto" type="xs:double" />
      <xs:element minOccurs="0" name="Res_Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Res_VlDesconto" type="xs:double" />
      <xs:element minOccurs="0" name="Res_VlTotal" type="xs:double" />
      <xs:element minOccurs="0" name="Vei_Placa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reserva" nillable="true" type="tns:Reserva" />
</xs:schema>